.vscode/
.ipynb_checkpoints/
__pycache__/
data/
ml_data/
dep/
test/
notebooks/
reports/
experimental/

# 
ml_pkalculator/ml_analyse.py
ml_pkalculator/ml_train_on_all_data.py
ml_pkalculator/ml_validator_clas.py
ml_pkalculator/ml_validator_reg.py
ml_pkalculator/ml_visualize.py
ml_pkalculator/ml_optimizer.py

utils/post_cleanup.py
utils/mol_visualize.py