.vscode
.ipynb_checkpoints
__pycache__/
data/raw/
data/processed/
data/external/bordwell/bordwellCH_rmb_v3_20230515.ods
data/external/reaxys/
data/external/jiang_et_al/

data/external/ibond/
/data/external/grzybowski/pka_allchemy_bordwellCH/
data/external/shen_et_al/xyz_files/
data/external/shen_et_al/data_paper_anions.ods
data/external/shen_et_al/data_paper_neutral.ods

dep/
test/
notebooks/
reports/
pka_predictor_ree/
experimental/
src/pKalculator/core_4.py
src/pKalculator/core_5.py
src/pKalculator/core_6.py
src/pKalculator/run_orca_2.py
src/pKalculator/run_orca_3.py
src/pKalculator/run_orca_4.py
